<% layout('layout/boilerplate') %>
<link rel="stylesheet" href="/styles/show.css" />

<div class="groupContent">
  <div class="personalGroups">
    <div class="newGroupBtn">
      <a class="btn btn-success newGroup" href="/groups/new">Crear un grupo</a>
    </div>
    <p class="myGroups">Tus grupos:</p>
    <% if(myGroups.length !== 0){ %> <% for (let group of myGroups){ %>
    <a class="groupPost" href="/groups/<%= group._id %>">
      <div class="groupPostInfo">
        <p class="postName"><%= group.name %></p>
        <p class="groupData"><%= group.description %></p>
        <p class="groupData">Miembros: <%= group.members.length %></p>
        <p class="groupData">Publicaciones: <%= group.posts.length %></p>
      </div>
    </a>
    <% } %> <% }else{ %>
    <p class="groupPostInfo">Actualmente no sigues ningun grupo!</p>
    <% } %>
  </div>

  <div class="personalGroups">
    <p class="myGroups">Descubre nuevos grupos:</p>
    <% if(newGroups.length !== 0){ %> <% for (let group of newGroups){ %>
    <a class="groupPost" href="/groups/<%= group._id %>">
      <div class="groupPostInfo">
        <p class="postName"><%= group.name %></p>
        <p class="groupData"><%= group.description %></p>
        <p class="groupData">Miembros: <%= group.members.length %></p>
        <p class="groupData">Publicaciones: <%= group.posts.length %></p>
      </div>
    </a>
    <% } %><% }else{ %>
    <p class="groupPostInfo">Actualmente no hay grupos nuevos para descubrir!</p>
    <% } %>
  </div>
</div>
