<%layout('layout/boilerplate')%> <%- include('../templates/sidebar') %>
<link rel="stylesheet" href="/styles/sidebar.css" />
<link rel="stylesheet" href="/styles/groups.css" />

<main>
  <div class="middlePart">
    <div class="postsContainer">
      <h1 class="postTitle">Publicaciones</h1>
      <% if(posts.length === 0){ %>
      <p class="postTitle">Sin Publicaciones Disponibles</p>
      <% } %> <% for(let post of posts){ %>
      <a href="/posts/<%=post._id%>">
        <div class="post">
          <h2 id="title"><%= post.title %></h2>

          <p id="body"><%= post.body %></p>
          <p id="faculty"><%= post.faculty%> | <%= post.degree%></p>
          <p id="attachments">Archivos: <%= post.image.length %></p>
          <p id="votes">Votos: <%= post.votes.length %></p>
        </div>
      </a>
      <hr />

      <% } %>
    </div>
    |
  </div>

  <div class="rightPart">
    <div class="rightContent">
      <div class="groupHeader">
        <div class="image">
          <% if(!group.profilePic){%>
          <form
            class="picture-form"
            action="/groups/<%=group._id%>/img?_method=PUT"
            method="post"
            enctype="multipart/form-data"
          >
            <img
              class="profile-pic"
              src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg"
              alt=""
            />
            <div class="upload-icon">
              <label for="file">
                <i class="fa-solid fa-camera"></i>
                <input
                  class="file-upload"
                  type="file"
                  id="file"
                  name="image"
                  accept="image/jpeg,image/jpg,image/png"
                />
              </label>
            </div>
          </form>
          <% }else{ %>
          <img class="user-picture" src="<%=group.profilePic[0].path%>" alt="" />
          <form
            class="picture-form"
            action="/groups/<%=group._id%>/img?_method=PUT"
            method="post"
            enctype="multipart/form-data"
          >
            <div class="upload-icon">
              <label for="file">
                <i class="fa-solid fa-camera"></i>
                <input
                  class="file-upload"
                  type="file"
                  id="file"
                  name="image"
                  accept="image/jpeg,image/jpg,image/png"
                />
              </label>
            </div>
          </form>
          <% } %>
        </div>

        <h1 class="name"><%= group.name %></h1>
        <p class="groupDescription"><%= group.description %></p>
      </div>
      <div class="buttons">
        <% if(currentUser){ %> <% if (currentUser._id == group.owner[0]._id){ %>
        <form action="/groups/<%= group._id %>?_method=DELETE" method="POST">
          <button class="btn btn-danger">Eliminar Grupo</button>
        </form>
        <% } %> <% if(!followed ){ %>
        <form action="/groups/<%= group._id %>/addMember?_method=PUT" method="POST">
          <button class="btn btn-success">Seguir grupo</button>
        </form>
        <% }else if(followed && !(currentUser._id == group.owner[0]._id)){ %>
        <form action="/groups/<%= group._id %>/removeMember?_method=PUT" method="POST">
          <button class="btn btn-danger">No seguir grupo</button>
        </form>
        <% } %> <% if(followed || (currentUser._id == group.owner[0]._id)){ %>
        <a class="btn btn-primary" href="/groups/<%= group._id %>/post">Publicar</a>
        <% } %>
      </div>
    </div>
    <% } %>
  </div>
</main>

<script>
  document.querySelector('.file-upload').onchange = function () {
    document.querySelector('.picture-form').submit();
  };
</script>

<script src="/scripts/personal.js"></script>
