<% layout('layout/boilerplate') %>
    <link rel="stylesheet" href="/styles/users/personal.css">

    <main>
        <section class="visualContainer">
            <div class="image">
                <img src="" alt="">
            </div>
            <div class="socials">

            </div>
        </section>
        <section class="infoContainer">
            <div class="userInfo">
                <div class="prContainer">
                    <h1>@<%= currentUser.name %>
                    </h1>
                    <a href="#">
                        <%=currentUser.degree%>
                    </a>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque porro unde rem dignissimos voluptas
                    molestias autem debitis repellat error eveniet eaque beatae dicta aspernatur, expedita incidunt
                    molestiae, nemo iusto minus?
                </p>
            </div>
            <hr>
            <h2 class="">Publicaciones del usuario</h2>
            <div class="userPosts">
                <div class="postsContainer">
                    <% for(let post of posts){ %>
                        <a href="/posts/<%=post._id%>" class="post">
                                <h4><%= post.title %></h4>
                                <p class="body">
                                    <%= post.body %>
                                </p>
                                <p class="faculty"><%= post.faculty%> | <%= post.degree%></p>
                                <p class="attachments">Archivos: <%= post.image.length %></p>
                                <small class="votes">Votos: <%= post.votes.length %></small>
                        </a>
                    <% } %>
                </div>
            </div>
        </section>
    </main>