<body>
  <% layout('layout/boilerplate') %>
  <link rel="stylesheet" href="/styles/users/personal.css" />
  <script src="https://kit.fontawesome.com/712fb57849.js" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"
  ></script>
  <link
    rel="stylesheet"
    type="text/css"
    href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"
  />
  <main>
    <section class="visualContainer">
      <div class="image">
        <% if(!currentUser.profilePic){%>
        <form
          class="picture-form"
          action="/personal/<%=currentUser._id%>?_method=PUT"
          method="post"
          enctype="multipart/form-data"
        >
          <img
            class="profile-pic"
            src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg"
            alt=""
          />
          <div class="upload-icon">
            <label for="file">
              <i class="fa-solid fa-camera"></i>
              <input
                class="file-upload"
                type="file"
                id="file"
                name="image"
                accept="image/jpeg,image/jpg,image/png"
              />
            </label>
          </div>
        </form>
        <% }else{ %>
        <img class="user-picture" src="<%=currentUser.profilePic[0].path%>" alt="" />
        <form
          class="picture-form"
          action="/personal/<%=currentUser._id%>?_method=PUT"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="upload-icon">
            <label for="file">
              <i class="fa-solid fa-camera"></i>
              <input
                class="file-upload"
                type="file"
                id="file"
                name="image"
                accept="image/jpeg,image/jpg,image/png"
              />
            </label>
          </div>
        </form>
        <% } %>
      </div>
      <div class="socials">
        <p>Redes Sociales</p>
      </div>
    </section>

    <section class="infoContainer">
      <div class="userInfo">
        <div class="prContainer">
          <h1>@<%= currentUser.name %></h1>
          <% if (currentUser.__t && currentUser.__t === 'Educator') {%>
          <a class="user-degree" href="#">
            <%=currentUser.degree%> | Educador | <%= currentUser.serviceInfo.office %>
          </a>
          <% } else {%>
          <a class="user-degree" href="#"> <%=currentUser.degree%></a>
          <% } %>
        </div>
        <%- body %>
      </div>
      <div class="chContainer">
        <form action="" class="chContainer" id="postForm">
          <select name="view" id="formSel" class="viewSelect">
            <% if (viewOpt) { %>
            <option value="<%= viewOpt %>" selected><%= viewOpt %></option>
            <% if (viewOpt === 'Publicaciones del usuario') { %>
            <option value="Publicaciones guardadas">
              <a class="" type="submit">Publicaciones guardadas</a>
            </option>
            <% } %> <% if (viewOpt === 'Publicaciones guardadas') { %>
            <option value="Publicaciones del usuario">
              <a class="" type="submit">Publicaciones del usuario</a>
            </option>
            <% } %> <% }else{ %>
            <option value="Publicaciones del usuario" selected>
              <a class="" type="submit">Publicaciones del usuario</a>
            </option>
            <option value="Publicaciones guardadas">
              <a class="" type="submit">Publicaciones guardadas</a>
            </option>
            <% } %>
          </select>
        </form>
      </div>
      <div class="userPostsPersonal">
        <div class="postsContainerPersonal">
          <% for(let post of posts){ %>
          <a href="/posts/<%=post._id%>" class="postPersonal">
            <h4><%= post.title %></h4>
            <p class="bodyPersonal"><%= post.body %></p>
            <p class="facultyPersonal"><%= post.faculty%> | <%= post.degree%></p>
            <p class="attachmentsPersonal">Archivos: <%= post.image.length %></p>
            <small class="votesPersonal">Votos: <%= post.votes.length %></small>
          </a>
          <% } %>
        </div>
      </div>
    </section>
    <%- include('../groups/layoutGroups') %>
  </main>
  <script>
    document.querySelector('.file-upload').onchange = function () {
      document.querySelector('.picture-form').submit();
    };
  </script>
  <script>
    $(function () {
      $('input[name="daterange"]')
        .daterangepicker(
          {
            opens: 'left',
            timePicker: true,
            timePicker24Hour: true,
            timePickerIncrement: 15,
            locale: {
              format: 'HH:mm',
            },
          },
          function (start, end, label) {
            console.log(
              'A new time selection was made: ' + start.format('HH:mm') + ' to ' + end.format('HH:mm')
            );
          }
        )
        .on('show.daterangepicker', function (ev, picker) {
          picker.container.find('.calendar-table').hide();
        });
    });
  </script>

  <script src="/scripts/personal.js"></script>
</body>
