<% layout('layout/boilerplate') %>
<link rel="stylesheet" href="/styles/posts.css" />

<div>
    <body>
        <div class="card" style="width: 85rem; background-color: #333333">
            <div class="card-body">
                <h1 class="card-title title-1" style="color: #c2c2c2">
                    <%=post.title %>
                </h1>
                <h6 class="card-subtitle mb-2" style="color: #7f7f7f">
                    <%= post.author %>
                </h6>
                <div>
                    <p class="card-text" style="color: #c2c2c2">
                        <%= post.body %>
                    </p>
                    <div class="card-body">
                        <% for (let img of post.image){ %>
                        <img
                            src="<%= img.path %>"
                            class="mb-3 card-img"
                            alt="..."
                        />
                        <% } %>
                    </div>
                </div>
                <h5 style="color: #c2c2c2">Votes: <%= post.votes %></h5>
                <h5 style="color: #c2c2c2">Tags: <%= post.tags %></h5>

                <div class="container">
                    <div class="row">
                        <div class="col">
                            <form
                                action="/posts/<%= post._id %>?_method=DELETE"
                                method="POST"
                            >
                                <button
                                    style="background-color: #eb3a3a"
                                    class="btn"
                                >
                                    DELETE
                                </button>
                            </form>
                        </div>
                        <div class="col text-right">
                            <form
                                action="/posts/update/<%= post._id %>"
                                method="GET"
                            >
                                <button
                                    style="background-color: #5ac8fa"
                                    class="btn"
                                >
                                    UPDATE
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</div>
