<% layout('layout/boilerplate') %>
<%- include('../templates/sidebar') %>
  <link rel="stylesheet" href="/styles/show.css" />

  <main>
    <div class="middlePart">
      <nav class="searchBar">
        <form class="searchComponents" action="" method="">
          <input type="text" name="q" id="" class="form-control" value="<%= keyword%>" />
          <button>Submit</button>
        </form>
      </nav>

      <section class="postsContainer">
        <% for(let post of posts){ %>
          <a href="/posts/<%=post._id%>">   
            <div class="post">
              <h2 id="title">
                <%= post.title %>
              </h2>
              <p id="author">
                <small>
                  <%= post.author.name %>
                </small>
              </p>
              <p id="body">
                <%= post.body %>
              </p>
              <p id="faculty"><%= post.faculty%>
              </p>
              <p id="degree"><%= post.degree%>
              </p>
              <p id="votes">Votes: <%= post.votes%>
              </p>
            </div>
          </a>
          <% } %>
      </section>
    </div>
  </main>