<body>
  <% layout('layout/boilerplate') %>
  <link rel="stylesheet" href="/styles/educatorsPersonal.css" />
  <script
    src="https://kit.fontawesome.com/712fb57849.js"
    crossorigin="anonymous"></script>
  <main>
    <section class="visualContainer">
      <div class="image">
        <% if(!educator.profilePic){%>
        <img
          class="profile-pic"
          src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg"
          alt="" />
        <% }else{ %>
        <img
          class="user-picture"
          src="<%=educator.profilePic[0].path%>"
          alt="" />
        <% } %>
      </div>
      <div class="socials">
        <p>Redes Sociales</p>
      </div>
    </section>

    <section class="infoContainer">
      <div>
        <div class="userInfo">
          <div class="prContainer">
            <h1>@<%= educator.name %></h1>
            <a class="user-degree" href="#">
              <%=educator.degree%> | Educador | <%= educator.serviceInfo.office %>
            </a>
        </div>
  
        <p><%= educator.description %></p>
        <% if (educator.serviceInfo.scheadule[0]) {%>
          <div class="schedule">
            <label for="lunes">Lunes: </label>
            <input
              id="lunes"
              type="text"
              name=""
              value="<%= educator.serviceInfo.scheadule[0] %>"
              readonly />
            <label for="martes">Martes: </label>
            <input
              id="martes"
              type="text"
              name=""
              value="<%= educator.serviceInfo.scheadule[1] %>"
              readonly />
            <label for="miercoles">Miercoles: </label>
            <input
              id="miercoles"
              type="text"
              name=""
              value="<%= educator.serviceInfo.scheadule[2] %>"
              readonly />
            <label for="jueves">Jueves: </label>
            <input
              id="jueves"
              type="text"
              name=""
              value="<%= educator.serviceInfo.scheadule[3] %>"
              readonly />
            <label for="viernes">Viernes: </label>
            <input
              id="viernes"
              type="text"
              name=""
              value="<%= educator.serviceInfo.scheadule[4] %>"
              readonly />
            <label for="sabado">Sabado: </label>
            <input
              id="sabado"
              type="text"
              name=""
              value="<%= educator.serviceInfo.scheadule[5] %>"
              readonly />
          </div>
          <% } %>
        
      </div>
      

      <div class="userPosts">
        <div class="educatorsPostsTitle">
          <h1>Publicaciones</h1>
        </div>
        <div class="postsContainerEducator">
          <% for(let post of posts){ %>
          <a href="/posts/<%=post._id%>" class="postEducator">
            <h4><%= post.title %></h4>
            <p class="bodyEducator"><%= post.body %></p>
            <p class="facultyEducator"><%= post.faculty%> | <%= post.degree%></p>
            <p class="attachmentsEducator">Archivos: <%= post.image.length %></p>
            <small class="votesEducator">Votos: <%= post.votes.length %></small>
          </a>
          <% } %>
        </div>
      </div>
    </section>
    <%- include('../groups/layoutGroups') %>

  </main>
  <script>
    document.querySelector('.file-upload').onchange = function () {
      document.querySelector('.picture-form').submit();
    };
  </script>

  <script src="/scripts/personal.js"></script>
</body>
